.label {
  display: inline-flex;  
  align-items: center;
  height: 2em;
  margin: 0.3em 0.3em;
  font-size: 0.8em;
  background-color: #ccc;
  color: #333;
  border-radius: 0.2em;
  padding: 0 0.4em;
}
  
.label div {  
  margin: 0 0.1em;
}