.toggle_checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4em; 
  height: 2em;
  background: grey;
  border-radius: 4em;
  position: relative;
  transition: background-color .2s;
}

.toggle_label .toggle_button {
  content: '';
  position: absolute;
  top: 0.1em; 
  left: 0.1em; 
  width: 1.8em; 
  height: 1.8em;
  border-radius: 1.8em;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.toggle_checkbox:checked + .toggle_label .toggle_button {
  left: calc(100% - 0.1em); 
  transform: translateX(-100%);
}

.toggle_label:active .toggle_button {
  width: 2.4em;
}
