@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

